@model  List<Lab.MVC.Models.CustomersViewModel>
@{
    ViewBag.Title = "Index";
}


<div class="row">

    <div style="margin-top:1rem;">
        @Html.ActionLink("Agregar", "Add", null, new { @class = "btn btn-success" })
    </div>

    <table class="table" style="margin-top:1rem;">

        <thead class="bg-dark text-white">
            <tr>
                <th>CustomerID</th>
                <th>ContactName</th>
                <th>ContactTitle</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody class="">
            @foreach (var item in Model)
            {
            <tr>
                
                <td><b>@item.Id</b></td>
                <td><b>@item.companyName</b></td>
                <td><b>@item.contactName</b></td>
                <td>
                    @Html.ActionLink("Editar", "Update", new { id = @item.Id }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = @item.Id }, new { @class = "btn btn-danger" })
                </td>

            </tr>

            }

        </tbody>
    </table>
</div>

